# Preview images for videos from the Filisur webcam
WEBCAM_FILISUR_IMAGE=/path/to/webcam-filisur-image
# Images from the Landwasser webcam
WEBCAM_LANDWASSER_IMAGE=/path/to/webcam-landwasser-image
# Images from the Landquart webcam
WEBCAM_LANDQUART_IMAGE=/path/to/webcam-landquart-image
# Image sequences from the Brusio webcam
WEBCAM_BRUSIO_IMAGE=/path/to/webcam-brusio-image

# Videos from the filisur webcam
WEBCAM_FILISUR_VIDEO=/path/to/webcam-filisur-video

# Directory where hourly captures from the Filisur webcam are stored
WEBCAM_FILISUR_SNAPSHOT=/path/to/webcam-filisur-snapshot
# Directory where raw footage from the Filisur webcam footage is stored
WEBCAM_FILISUR_SNIPPET=/path/to/webcam-filisur-snippet

# Deleted images / videos from the Filisur webcam
DELETED_FILISUR_ARCHIVE=/patah/to/deleted-filisur-archive
# Deleted images from the Brusio webcam
DELETED_BRUSIO_ARCHIVE=/patah/to/deleted-brusio-archive

# Directory for archiving original locomotive allocation PDFs
LOCOMOTIVE_ALLOCATIONS_ARCHIVE=/path/to/allocations-archive
# Directory for storing parsed JSON files for the locomotive allocations
LOCOMOTIVE_ALLOCATIONS_STORAGE=/path/to/allocations-storage

# File containing all valid credentials for logging into the categorizaion view
# Each line has the format 'username<TAB>password'
ADMIN_CREDENTIALS_PATH=/path/to/categorize-login

# File storing the website database
DATABASE_DEV_PATH=/path/to/dev-database
DATABASE_PROD_PATH=/path/to/prod-database
