# Directory where the captured train videos are stored
WEBCAM_VIDEO_ARCHIVE=/path/to/webcam-video-archive
# Directory where hourly images are stored
WEBCAM_IMAGE_ARCHIVE=/path/to/webcam-image-archive
# Directory where raw webcam footage is stored
WEBCAM_SNIPPET_CACHE=/path/to/webcam-snippet-cache

# Directory for temporarily caching thumbnail images for videos
THUMBNAIL_CACHE=/path/to/thumbnail-cache

# Directory for temporarily archiving deleted videos
DELETED_VIDEO_ARCHIVE=/path/to/deleted-video-archive

# Directory for archiving original locomotive allocation PDFs
LOCOMOTIVE_ALLOCATIONS_ARCHIVE=/path/to/allocations-archive
# Directory for storing parsed JSON files for the locomotive allocations
LOCOMOTIVE_ALLOCATIONS_STORAGE=/path/to/allocations-storage

# File containing all valid credentials for logging into the categorizaion view
# Each line has the format 'username<TAB>password'
ADMIN_CREDENTIALS_PATH=/path/to/categorize-login
