WEBCAM_VIDEO_ARCHIVE=/path/to/webcam-video-archive
WEBCAM_IMAGE_ARCHIVE=/path/to/webcam-image-archive
WEBCAM_SNIPPET_CACHE=/path/to/webcam-snippet-cache

DELETED_VIDEO_ARCHIVE=/path/to/deleted-video-archive

LOCOMOTIVE_ALLOCATIONS_ARCHIVE=/path/to/allocations-archive
LOCOMOTIVE_ALLOCATIONS_STORAGE=/path/to/allocations-storage

THUMBNAIL_CACHE=/path/to/thumbnail-cache
