[Unit]
Description=RhB Archive - Web Server
After=network.target

[Service]
Type=simple
User=##USER##
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=##REPO_DIR##/zig-out
ExecStart=##REPO_DIR##/zig-out/filisur-archive
Restart=on-failure

[Install]
WantedBy=nginx.service

