[Unit]
Description=RhB Archive - Landquart Webcam Capture
After=network.target

[Service]
Type=simple
User=##USER##
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=##REPO_DIR##/scripts
ExecStart=##REPO_DIR##/scripts/.venv/bin/python ##REPO_DIR##/scripts/download_landquart_webcam.py
Restart=on-failure

[Install]
WantedBy=multi-user.target

